<div #nav="ngbNav" ngbNav class="bg-light">
    <a class="navbar-brand">Recipe Book</a>
    <ul ngbNav >
        <li ngbNavItem="recipes">
            <a ngbNavLink
             class="link-info"
             (click)="onSelect('recipes')"
             >Recipes</a>
        </li>
        <li ngbNavItem="shopping-list">
            <a ngbNavLink
             class="link-info"
             (click)="onSelect('shopping')"
             >Shopping List</a>
        </li>
        <ul ngbDropdown ngbNav>
            <li ngbNavItem="manage">
                <a ngbNavLink ngbDropdownToggle class="navbar-right" role="button">Manage</a>
            </li>
            <ul ngbDropdownMenu>
                <li ngbDropdownItem ngbNavItem="save-data"><a ngbNavLink>Save Data</a></li>
                <li ngbDropdownItem ngbNavItem="fetch-data"><a ngbNavLink>Fetch Data</a></li>
            </ul>
        </ul>
    </ul>
</div>