<div class="row">
    <div class="col-xs-12">
        <h2 class="skills-title">My Skills.</h2>
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let skill of skills"
            >
            <img [src]="skill.imagePath" [alt]="skill.altImage">
                <div class="skill-row-description">
                    <h2 class="skill-row-title">{{skill.title}}</h2>
                    <p class="skill-row-text"> {{skill.description}} </p>
                </div>
            </li>
        </ul>
    </div>
</div>