.skills {
    padding-bottom: 20px;
}

.skills-title {
    margin-bottom: 100px;
}

.skill-row {
    clear: left;
    margin: 50px auto;
    height: 100px;
}

.skill-row img {
    width: 20%;
    float: left;
    margin-right: 32px;
}

.skill-row-description {
    text-align: left;
}

.skill-row-title {
    font-size: 14px;
    margin: 0;
}

.skill-row-text {
    font-size: 12px;
    line-height: 1.5;
}
