<div class="row">
    <div class="col-xs-12">
        <h2 class="skills-title">My Skills.</h2>
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let skill of skills"
            >
            <img class="" src="assets/about-me-images/climbing.png" alt="chillies">
                <div class="skill-row-description">
                    <h2 class="skill-row-title">Lorem Ipsum Dolor</h2>
                    <p class="skill-row-text">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
                </div>
            </li>
        </ul>
    </div>
</div>