
.about-me {
    text-align: center;
    align-self: center;
    background-color: #F1F6F5;
}

h1 {
    margin: 0 0;
}

a {
    color: #0b8c91;
    text-decoration: none;
}

a:hover {
    color: #5b6161;
}

p {
    font-size: smaller;
}

h2, h3 {
    color:#82C3EC;
    font-weight: normal;
}
h2 {
    font-size: 36px;
}

hr {
    border-top:4px #96a1a1;
    border-style: dotted none none none;
    width: 32px;
    margin: 50px auto;
    clear:  both;
}