<div class="about-me">
    <div class="top-content">
        <img class="top-cloud" src="assets/about-me-images/cloud.png" alt="cloud-img">
        <div class="center-name">
            <h1 class="big-name">I'm Antoine</h1>
            <h3 class="small-name">a.k.a Tony</h3> 
        </div>
        <h2 class="title">a programmer.</h2>
        <img class="bottom-cloud" src="assets/about-me-images/cloud.png" alt="cloud-img">
        <img class="mountain" src="assets/about-me-images/mountain.png" alt="mountain-img">
    </div>
    <div class="middle-content">
        <img
        src="assets/about-me-images/caricature-profile.JPG"
        alt="Antoine Rahme profile picture"
        width="100px">
        <h2 class="self-desc">Hello.</h2>
        <p class="self-desc">I am a Full-Stack Web Developer. I am passionate about technology. I ❤ coffee and rock climbing 🧗‍♂️</p>
        <hr>
        <div class="skills">
            <h2 class="skills-title">My Skills.</h2>
            <div class="skill-row">
                <img
                src="assets/about-me-images/computer.png" alt="computer">
                <div class="skill-row-description">
                    <h2 class="skill-row-title">Design & Development</h2>
                    <p class="skill-row-text">
                        My exposure to coding was through game development.
                        When I was 12 years old I stumbled upon a game engine that allowed me to learn coding.
                        From then on my facination in computers grew!
                    </p>
                    <a href="bootstrap-example.html">Bootstrap Webpage</a>
                    <a href="tindog.html">TinDog?</a>
                </div>
            </div>
            <div class="skill-row">
                <img class="" src="assets/about-me-images/climbing.png" alt="chillies">
                <div class="skill-row-description">
                    <h2 class="skill-row-title">Lorem Ipsum Dolor</h2>
                    <p class="skill-row-text">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Climb on!</h3>
            <p class="contact-message">
                If you climb have you been doing it outdoors? Let's talk about how awesome it is!
                <br>
                We can code while we share our betas!
            </p>
            <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
        </div>
    </div>
    <div class="bottom-content">
        <div class="footer-link-grid">
            <a class="footer-link" href="https://www.linkedin.com/antoine-rahme">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/">Twitter</a>
            <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        </div>
        <p class="copyright">© Antoine Rahme.</p>
    </div>
</div>
