
.about-me {
    margin: 0;
    text-align: center;
    background-color: #F1F6F5;
}

h1 {
    margin: 0 0;
}

a {
    color: #0b8c91;
    text-decoration: none;
}

a:hover {
    color: #5b6161;
}

p {
    font-size: smaller;
}

h2, h3 {
    color:#82C3EC;
    font-weight: normal;
}

hr {
    border-top:4px #96a1a1;
    border-style: dotted none none none;
    width: 32px;
    margin: 50px auto;
    clear:  both;
}

.top-content {
    background: linear-gradient(#4B56D2, #82C3EC);
}

.middle-content {
    font-family: verdana, sans-serif;
    width: 40%;
    margin: 50px auto 50px auto;
}

.bottom-content {
    font-family: verdana, sans-serif;
    background-color: #82C3EC;
    padding: 50px 0 20px;
}

.self-desc {
    margin: 32px auto;
    width: 50%;
}

.skills {
    padding-bottom: 20px;
}

.skills-title {
    margin-bottom: 100px;
}

.skill-row {
    clear: left;
    margin: 50px auto;
    height: 100px;
}

.skill-row img {
    width: 20%;
    float: left;
    margin-right: 32px;
}

.skill-row-description {
    text-align: left;
}

.skill-row-title {
    font-size: 14px;
    margin: 0;
}

.skill-row-text {
    font-size: 12px;
    line-height: 1.5;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.big-name {
    font-family: papyrus, fantasy;
    font-size: 5.625em;
    color: #F1F6F5;
    margin: 50px auto 0 auto;
}

.small-name {
    font-family: 'Sacramento', cursive;
    margin: -24px 0;
    color: #82C3EC;
    font-weight: bold;
}

.title {
    margin: 50px auto 0 auto;
    font-family: sans-serif;
}

.center-name {
    display: grid;
    justify-items: center;
}

.top-cloud {
    position: relative;
    left: 200px;
    top: 50px;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
}

.mountain {
    margin-bottom: -8px;
}

.footer-link-grid {
    display: grid;
    grid-template-columns: repeat(3,20px);
    justify-content: center;
    justify-items: center;
    column-gap: 100px;
}

.footer-link:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    color:#F1F6F5;
    text-decoration: none;
    font-size: 14px;
    background: linear-gradient(#4B56D2, #472183);
    background: -o-linear-gradient(#4B56D2, #472183);
    background: -webkit-linear-gradient(#4B56D2, #472183);
    background: -moz-linear-gradient(#4B56D2, #472183);
}

.btn:hover {
    text-decoration: none;
    background: linear-gradient(#82C3EC, #4B56D2);
    background: -o-linear-gradient(#82C3EC, #4B56D2);
    background: -webkit-linear-gradient(#82C3EC, #4B56D2);
    background: -moz-linear-gradient(#82C3EC, #4B56D2);
}