<mat-form-field class="example-chip-list" appearance="fill">
    <mat-label >Inbound Flights</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter Flight Number">
      <mat-chip-row *ngFor="let flight of flightList"
                    (removed)="remove(flight)"
                    [editable]="true"
                    (edited)="edit(flight, $event)"
                    [aria-description]="'press enter to edit ' + flight.carrier + flight.flight">
        {{flight.carrier + flight.flight}}
        <button matChipRemove [attr.aria-label]="'remove ' + flight.carrier + flight.flight">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New Flight Number..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>