<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-primary">Recipe Manage</button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem>Add To Shopping</button>
                <button ngbDropdownItem>Edit Recipe</button>
                <button ngbDropdownItem>Delete Recipe</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>