<app-dungeon-canvas></app-dungeon-canvas>
<p>random-generator coming soon!</p>

<div> Original DnD project was set up in a React project. During my unemployment I devoted my time to write a random dungeon generator.
    <br/><br/>About a thousand of lines later, I managed to make it somewhat generate a map of a few rooms connected to each other.
    They overlap and some don't connect properly, but it was a promising good start and a learning experience.
    <br/><br/>For the purpose of hosting all of my projects together, I am currently making a lift and shift effort to move the React project to Angular.
</div>