@import '../about-me.component.scss';

.top-content {
    background: linear-gradient(#4B56D2, #82C3EC);
}

.top-cloud {
    position:static;
    left: 200px;
    top: 50px;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
}

.mountain {
    margin-bottom: -8px;
}

.item{
    flex-grow: 1;
    &-big-name {
        font-family: papyrus, fantasy;
        font-size: 10.625vw;
        color: #F1F6F5;
    }
    
    &-small-name {
        font-family: 'Sacramento', cursive;
        margin: -24px 0;
        color: #82C3EC;
        font-weight: bold;
    }

}

.title {
    font-size: 5.625vw;
    flex-grow: 1;
    font-family: sans-serif;
}

.center-name {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    gap: 50px;
}
