<div class="">
    <img [src]="workExperience.logo" [alt]="workExperience.company"
    class="img-responsive" style="max-height: 150px;"
    >
    <h2 class="workExperience-row-title">{{workExperience.title}}</h2>
    <p class="workExperience-row-text sub-title"> {{workExperience.company}}, {{workExperience.address}} </p>
    <p class="workExperience-row-date"> {{workExperience.startDate | date:'MMM, yyyy'}} - <span *ngIf="workExperience.endDate; else endDatePresent">{{workExperience.endDate | date: 'MMM, yyyy'}}</span> </p>
    <div class="workExperience-row-description">
        <ul class="vstack gap-3">
            <li class=""
            *ngFor="let point of workExperience.bulletpoints"
            > 
            <!-- <mat-icon class="p2" fontIcon="home"></mat-icon> -->
            <span class="p5 align-self-start">{{point}}</span></li>
        </ul>
    </div>
</div>
<ng-template #endDatePresent>Present</ng-template>
