@import '../about-me.component.scss';

.middle-content {
    font-family: verdana, sans-serif;
    width: 90%;
    margin: 50px auto 50px auto;
}

.self-desc {
    margin: 32px auto;
    width: 70%;
}

.contact-message {
    // width: 40%;
    margin: 40px auto 60px;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    color:#F1F6F5;
    text-decoration: none;
    font-size: 14px;
    background: linear-gradient(#4B56D2, #472183);
    background: -o-linear-gradient(#4B56D2, #472183);
    background: -webkit-linear-gradient(#4B56D2, #472183);
    background: -moz-linear-gradient(#4B56D2, #472183);
}

.btn:hover {
    text-decoration: none;
    background: linear-gradient(#82C3EC, #4B56D2);
    background: -o-linear-gradient(#82C3EC, #4B56D2);
    background: -webkit-linear-gradient(#82C3EC, #4B56D2);
    background: -moz-linear-gradient(#82C3EC, #4B56D2);
}